language: python

python:
  - "3.6"

install:
  - pip install -r requirements.txt

script:
  - python main.py --output gh-pages/whitelist.pac

deploy:
edge:
    branch: v1.8.47
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: gh-pages
  on:
    branch: master